# Generic
*.swp

.idea

######## Expo/RN ignored files ########
node_modules/**/*
.expo/*
npm-debug.*

######## react-native-web ignored files ########

# dependencies
/node_modules

# testing
/coverage

# production
/build
/public/assets

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


